# ignore dir where packages are downloaded
elpa/

# ignore backup directory
backups/

# ignore auto-save-list directory
auto-save-list/

# ignore eshell directory
eshell/

# ignore abbrev directory
abbrev/

# ignore autocomplete data file
ac-comphist.dat

# ignore ido mode file
ido.last

# ignore places file
places

# ignore swp files
.swp

# ignore ds_store (mac only)
.DS_Store
